@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.brand{
  padding-left: 2rem;
  font-family: 'Pacifico', cursive;
  font-size: 36px;
}

.artCard{
  margin: 1rem 0;
}

.landing{
  background: url("./landing.jpg");
  background-size: cover;
  height: 70vh;
  color: white;
}

.hText{
  text-shadow: 2px 2px gray;
  text-align: left;
  padding: 10rem 0rem 0rem 6rem;
}

.navList{
  display: flex;
  justify-content: space-between;
  align-content: center;
  list-style: none;
  color: #fff;
}
li{
  padding: 0 2rem;
  text-decoration: none;
  color: #fff;
}